<h1>Line</h1>
<hr>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <%= link_to "Bus Schedule Home", lines_path, :class => "navbar-brand" %>
  <%= link_to "lines", lines_path, :class => "navbar-text" %>
  <%= link_to "stations", stations_path, :class => "navbar-text" %>
  <div class="btn-group-xs">
    <button class="new btn btn-default navbar-btn">New</button>
  </div>
</nav>

<ul>
  <% @lines.each do |line| %>
    <li><%= link_to line.name, line_path(line) %></li>
  <% end %>
</ul>
<hr>
<div class="hidden_form">
  <%= render 'form' %>
</div>
