<h1><%= @line.name %></h1>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <%= link_to "Bus Schedule Home", lines_path, :class => "navbar-brand" %>
  <p class="pull-right navbar-text"> <%= @line.name %> </p>
  <div class="btn-group-xs">
    <button type="button" class="new btn btn-default navbar-btn">Edit</button>
    <button type="button" class="btn btn-default navbar-btn">
      <%= link_to "Delete", line_path(@line), :class => "" ,
                                              :confirm => "Are you sure?",
                                              :method => "delete"%></button>
  </div>
</nav>
<hr>
<p>Stations</p>
<ul>
  <% @line.stations.sort_by{|s|s.name}.each do |station| %>
    <li><%= station.name %></li>
  <%end%>
</ul>



<hr>
<div class="hidden_form">

  <%= render 'form' %>
</div>

